testing data/.DS_Store
.DS_Store
.idea
*.class
bin/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
*.bin
*.lock
*.properties
spring-boot/gradle/wrapper/gradle-wrapper.jar
spring-boot/gradlew
spring-boot/gradlew.bat
spring-boot/build.gradle